<div class="container-fluid">
        <h1 style="color:black;">Some Company's Login Page</h1>
        <div class="row justify-content-center custom-margin">
            <div style="width:50%">
                <form method="POST" action ="/login" class="shadow-lg p-4 text-white" style ="background-color:#1d2124b8;">

                    <% if @login_error != nil %>
                        <div class="alert alert-danger" role="alert">
                         <%= @login_error%>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <% end %>

                    <div class="form-group">
                     <i class="fas fa-user"></i><label for="username" class="pl-2 font-weight-bold">Username</label>

                     <input type="text" class="form-control" placeholder="Username" id="username" name="username" pattern="^[[A-Z]|[a-z]][[A-Z]|[a-z]|\\d|[_]]{5,29}$" title="Please keep username between 6-15 charecters  EX Username: JohnyJohnyYesPapa01"  >
                     <!--Add text-white below if want text color white-->
                  </div>
                  <div class="form-group">
                     <i class="fas fa-key"></i><label for="password" class="pl-2 font-weight-bold">Password</label><input type="text"
                         class="form-control" placeholder="Password" id="password" name="password"title="Minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special character EX:password Fakepassword01!"
 >
                  </div>
                  <a href="/signup">Signup</a><br>
                  <button type="submit" class="btn btn-success mt-3 btn-block shadow-sm font-weight-bold" value="Submit">Login</button>
                </form>
            </div>
        </div>
    </div>