<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/tickets">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/tickets/new">Create Ticket</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>      
      </ul>
    </div>
</nav>
    
<div class="card">
  <div class="card-body">
    <form method="POST" action = "/tickets">
      <div class="card">
      <div class="card-body">

      <div class="form-group">
      <label for= "title">Title:</label><br>
      <%if @error_title != nil%>
        <%@error_title.each do |title_error| %>
          <div class="alert alert-danger" role="alert">
            <%= "Title " + title_error%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%end%>
      <%end%>
      <input class="form-control" type="text" id="title" name="title" placeholder="Please Put Title Here">
      </div>

      <div class="form-group">
      <label for= "details">Details:</label><br>
      <%if @error_details != nil%>
        <%@error_details.each do |detail_error| %>
          <div class="alert alert-danger" role="alert">
            <%="Details " + detail_error%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%end%>
      <%end%>
      <textarea class="form-control" rows="4" type="text" id="details" name="details" placeholder="Please Put Details Here"></textarea> 
      </div>
      
      <a class="btn btn-danger" href="/tickets" role="button">Cancel</a>
      <button type="submit" class="btn btn-primary" value="Submit">Create Ticket</button>
    </form>
  </div>
</div>


