<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/tickets">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/tickets/new">Create Ticket</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>      
      </ul>
    </div>
  </nav>
    <form method="POST" action = "/tickets/<%=@ticket.id%>">
        <input type="hidden" value="patch" name="_method">
        <label for= "title">Title:</label><br>
        <textarea rows="1" cols="20" type="text" id="title" name="title"><%=@ticket.title%></textarea><br>
        <label for= "details">Details:</label><br>
        <textarea rows="4" cols="50" type="text" id="details" name="details"><%=@ticket.details%></textarea><br>  
        <br>
        <a class="btn btn-danger" href="/tickets/<%=@ticket.id%>" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary" value="Submit">Update Ticket</button>
    </form>